<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components/footer/style.css">
    <script src="https://kit.fontawesome.com/10c2a015e5.js" crossorigin="anonymous"></script>
    <script src="script.js" defer></script>
    <title>cabeçalho</title>
</head>

<body>
    <footer>
        <div class="footer-player">
            <img src="https://source.unsplash.com/random" alt="image-item" />
            <div>
                <p class="footer-music-title">Title Music</p>
                <p class="footer-music-artist">Artist Music</p>
            </div>
            <i class="fa-solid fa-pause footer-pause"></i>
        </div>

        <nav>
            <ul>
                <li class="footer-home"> <a href="../home/index.html"><i class="fa-solid fa-house"></i>Home</a></li>
                <li class="footer-search"><a href="../search/search.html"><i
                            class="fa-solid fa-magnifying-glass"></i>Search</a>
                </li>
                <li class="footer-your-library"><a href="../your-library/your-library.html"><i
                            class="fa-solid fa-bars fa-rotate-90"></i>Your Library</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>