:root {
    --background-color: #1B1A1C;
    --background-color-hover: #141315;
    --white: #fff;
    --green: #1DB954;
    --gray-h2: #9C9C9C;
    --gray-h3: #B3B3B3;
    /*for icons*/
    --gray-neutral: #777777;
}

* {
    color: var(--white);
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 15vh;

}

.footer-player {
    display: flex;
    background-color: #550a1b;
    border-radius: 10px;
    margin: 0px 20px;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 5px 15px;
}

.footer-player img {
    width: 30px;
    height: 30px;
    border-radius: 10%;
    margin-right: 5px;
}

.footer-player img,
.footer-player div {
    order: 1;
}

.footer-music-artist:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

.footer-player img {
    cursor: pointer;
}

.footer-pause {
    order: 2;
    margin-left: auto;
}

.footer-pause:hover {
    color: var(--white);
    cursor: pointer;
}


footer nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding: 15px 0;
    background-color: var(--background-color);
}


footer nav ul li a,
footer nav ul li a i {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: var(--gray-neutral);
}

footer nav ul li:hover,
footer nav ul li i:hover {
    cursor: pointer;
}


.footer-music-title {
    font-weight: 600;
    font-size: 13.5px;
    color: var(--white);
}

.footer-music-artist {
    font-weight: 400;
    font-size: 10.5px;
    color: var(--gray-h3);
}

footer nav ul li a {
    text-decoration-line: none;
}
