@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --background-color: #1B1A1C;
    --white: #fff;
    --green: #1DB954;
    --gray-h2: #9C9C9C;
    --gray-h3: #B3B3B3;
    /*for icons*/
    --gray-neutral: #777777;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

body {
    background-color: var(--background-color);
    min-height: 120vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
}

header h1 {
    color: var(--white);
    font-size: 19px;
}

header ul {
    display: flex;
    list-style: none;
}

header li {
    padding-left: 22px;
}

header li:hover {
    cursor: pointer;
    color: var(--white);
}

.music-container {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 16px;

}

.music-container h1 {
    font-size: 19px;
    color: var(--white);
    padding-bottom: 8px;
    font-weight: 600;
}

.music-container h2 {
    font-size: 12px;
    font-weight: 600;
}

.music-container h3 {
    color: var(--gray-h3);
    font-size: 11px;
    font-weight: 500;
}

.music-list {
    text-align: left;
    cursor: pointer;
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 0.20rem;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    list-style: none;
}

.music-list::-webkit-scrollbar {
    display: none;
}

.item {
    width: 100%;
    user-select: none;
    pointer-events: none;
    width: 150px;
    height: 150px;
}

.item img {
    height: 80%;
    width: 80%;
}
